[user]
    name = Carlos Salazar
    email = carlos.salazar@slalom.com
[credential]
    helper = osxkeychain

[core]
    excludesfile = ~/.gitignore # Ignore .gitconfig files valid everywhere

[includeIf "gitdir:~/dotfiles/"] # include for all .git projects under ~/dotfiles/
    path = ~/.gitconfig.personal

[includeIf "gitdir:~/Development/Personal/"] # include for all .git projects under ~/Development/Personal/
    path = ~/.gitconfig.personal

[includeIf "gitdir:~/Development/Slalom/"] # include for all .git projects under ~/Development/Slalom/
    path = ~/.gitconfig.slalom

[includeIf "gitdir:~/Development/Fastgrid/"] # include for all .git projects under ~/Development/Fastgrid/
    path = ~/.gitconfig.fastgrid


# [credential "https://dev.azure.com"]
# useHttpPath = true

